* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #004b8d;
    color: white;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo svg {
    width: 35px;
    height: 35px;
    fill: white;
}

.logo span {
    font-size: 1.7em;
    font-weight: bold;
}

.header-buttons .btn {
    padding: 10px 20px;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border: none;
    cursor: pointer;
}

.header-buttons .btn:hover {
    background-color: #218838;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
}

h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

#mascotas-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mascota-item {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.mascota-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Nueva Estilización */
.mascota-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mascota-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.mascota-edad {
    font-size: 0.9em;
    color: #28a745;
}

.mascota-details {
    margin: 10px 0;
    font-size: 0.9em;
}

.mascota-details li {
    flex: 1 1 45%;
    background: #f4f4f9;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.mascota-footer {
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.mascota-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mascota-info label {
    font-weight: bold;
    color: #333;
}

.mascota-info select {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #777;
    font-size: 1em;
}
